/* used for cards and deposits htmls */

.inner {
    display: block;
}

.main-wrap {
    display: block;
    border-radius: 70px;

}

.cards-title {
    display: block;
    text-align: center;


}

.cards-title h1 {

    font-family: 'Pacifico', cursive;




}

.cards-title p {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 30px;
    max-width: 840px;
    margin: 0 auto;
    padding: 0 0 20px;
    text-align: center;
}

.cards-list {
    display: block;


}

.card {
    background: url(https://www.yelo.az/site/templates/style/img/yelo_block.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    border-radius: 25px !important;



}

.card-description {
    display: block;
    padding: 45px 40px 45px 60px;
    box-sizing: border-box;
    width: calc(100% - 475px);

}

.card-name h5 {
    display: block;
    font-family: 'Pacifico', cursive;
    padding: 0 0 10px;
    font-size: 34px;
    line-height: 40px;

}

.card-content {
    font-size: 18px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.card-spec {
    display: flex;
}

.internal-spec {
    display: block;
    margin: 50px 60px 50px 0;

}

.internal-spec p {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
    margin-bottom: 0;

}


.card-description ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding-left: 0rem;

}

.card-description ul li {
    display: list-item;
    text-align: center;
}

.buttoncardd {

    height: 60px;
    position: relative;
    transform: skew(-17deg, 0);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    padding: 15px 20px;
    box-sizing: border-box;

}

.buttoncardd::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: skew(-14deg, 0);
    background: black;
    display: block;
    content: '';

}

.buttoncardd:hover::after {
    background: orange;

}


.buttoncardd span {

    position: relative;
    z-index: 1;
    color: white;
    cursor: pointer;

}




.buttoncardextra {

    opacity: 0.5;
    transition: all 0.2s ease-out;
    height: 60px;
    box-sizing: border-box;
    display: inline-block;
    padding: 15px 20px;
    font-size: 20px;
    color: black;
    text-decoration: none;


}

.buttoncardextra span {

    background: url(https://www.yelo.az/site/templates/style/img/bl_arr_bttn.svg) no-repeat right center;
    display: block;
    padding: 0 45px 0 0px;
    color: black;
}


.buttoncardextra:hover {

    opacity: 1;


}


.buttoncardextra span:hover {

    transform: scale(1.1);
}




.card-image {
    position: absolute;
    top: 20px;
    right: 135px;
    display: block;


}

.tilt-box-wrap {
    width: 400px;
    height: 400px;
    position: relative;
    transition: all 0.6s ease-out;
    perspective: 1000px;



}

.tilt-box-wrap:hover {

    transition: all 0.3s linear;
    transform: scale(1.1);




}

.tilt-box {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: 90px;
    transition: all 0.6s ease-out;
    transform: rotateX(0deg) rotateY(0deg);
    perspective: 1000px;
    transform-style: preserve-3d;

}

.tilt-box img {
    width: 50%;
    height: 75%;
    transform: translateZ(40px);
    margin-bottom: 60px;

}

.t_over {
    width: 33.333%;
    height: 33.333%;
    position: absolute;
    z-index: 1;
}

.t_over:nth-child(1) {
    left: 0;
    top: 0;
}

.t_over:nth-child(2) {
    left: 33.333%;
    top: 0;
}

.t_over:nth-child(3) {
    left: 66.666%;
    top: 0;
}

.t_over:nth-child(4) {
    left: 0;
    top: 33.333%;
}

.t_over:nth-child(5) {
    left: 33.333%;
    top: 33.333%;
}

.t_over:nth-child(6) {
    left: 66.666%;
    top: 33.333%;
}

.t_over:nth-child(7) {
    left: 0;
    top: 66.666%;
}

.t_over:nth-child(8) {
    left: 33.333%;
    top: 66.666%;
}

.t_over:nth-child(9) {
    left: 66.666%;
    top: 66.666%;
}

.t_over:nth-child(1):hover~.tilt-box {
    transform: rotateX(-20deg) rotateY(20deg);
}

.t_over:nth-child(2):hover~.tilt-box {
    transform: rotateX(-20deg) rotateY(0deg);
}

.t_over:nth-child(3):hover~.tilt-box {
    transform: rotateX(-20deg) rotateY(-20deg);
}

.t_over:nth-child(4):hover~.tilt-box {
    transform: rotateX(0deg) rotateY(20deg);
}

.t_over:nth-child(5):hover~.tilt-box {
    transform: rotateX(0deg) rotateY(0deg);
}

.t_over:nth-child(6):hover~.tilt-box {
    transform: rotateX(0deg) rotateY(-20deg);
}

.t_over:nth-child(7):hover~.tilt-box {
    transform: rotateX(20deg) rotateY(20deg);
}

.t_over:nth-child(8):hover~.tilt-box {
    transform: rotateX(20deg) rotateY(0deg);
}

.t_over:nth-child(9):hover~.tilt-box {
    transform: rotateX(20deg) rotateY(-20deg);
}



.foot-text {
    color: rgba(0, 0, 0, 0.5);

}

/* btn cards */
.col-7 h5 {
    border-radius: 10px;
    background-color: white;
    text-align: center;
    padding: 5px;
    margin-top: 3px;
    width: 50%;
    background-size: 120%;
}

.stories .col-3 {
    border-radius: 10px;
}

.col-7 p,
.col-7 h5 {
    color: white;
    font-size: 12px;
}


/* deposits hmtl */

.buttoncar {

    height: 60px;
    position: relative;
    transform: skew(-17deg, 0);
    color: orange;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    padding: 15px 20px;
    box-sizing: border-box;

}

.buttoncar::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: skew(-14deg, 0);
    background: black;
    display: block;
    content: '';

}

.buttoncar:hover::after {
    background: orange;


}



.buttoncar span {

    position: relative;
    z-index: 1;
    color: white;
    cursor: pointer;

}

.buttoncar:hover span {

    position: relative;
    z-index: 1;
    color: black;
    cursor: pointer;

}