{% extends "layout.html"%}
{%block head%}
{%endblock%}
{% block content%}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row slider_row">
                <div class="col-7  slider_background ">
                    <h1>Bu 13 sənə düşərli olacaq</h1>
                    <h4>Tam onlayn kredit</h4>
                    <a href="/cards" class="card_order">
                        <h6>Kart sifarişi</h6>
                    </a>
                </div>
                <div class="col-5 slider_images "
                    style="background-image: url('https://www.yelo.az/site/assets/files/7148/13-site-file.png');">
                </div>
            </div>
        </div>
        <div class="carousel-item ">
            <div class="row">
                <div class="col-7 slider_background">
                    <h1>Krediti cəmi 7 dəqiqəyə al</h1>
                    <h4>Onlayn sifariş et, filiala gəlmə</h4>
                    <a href="/creditpurchase" class="more_info">Daha ətraflı</a>
                </div>
                <div class="col-5 slider_images"
                    style="background-image: url('	https://www.yelo.az/site/assets/files/2502/yelo_az_-_7_deqiqe-aze_1.jpg');">
                </div>
            </div>
        </div>
        <div class="carousel-item ">
            <div class="row">
                <div class="col-7 slider_background">
                    <h1>Banka gəlmədən</h1>
                    <h4>Tam onlayn kredit</h4>
                    <a href="/creditpurchase" class="more_info">Daha ətraflı</a>
                </div>
                <div class="col-5 slider_images"
                    style="background-image: url('	https://www.yelo.az/site/assets/files/6973/onlayn_kredit-saytcover.png');">
                </div>
            </div>
        </div>
        <div class="carousel-item ">
            <div class="row">
                <div class="col-7 slider_background">
                    <h1>Baxışını dəyiş</h1>
                    <a href="/cards" class="card_order">
                        <h6>Kart sifarişi</h6>
                    </a>
                    <a href="/cards" class="more_info"> Daha ətraflı</a>
                </div>
                <div class="col-5 slider_images"
                    style="background-image: url('https://www.yelo.az/site/assets/files/3125/1.png');">
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden" style="color: black">Next</span>
    </button>
</div>

<div class="container app_and_converter mt-2 ">
    <h3 style="font-weight: bold;">Storilər <span class="badge text-bg-warning"> <span style="color: white">3</span> </span>
    </h3>
    <div class="row stories g-0 mb-4">
        <div class="col-3 story_background_1">
            <div class="row p-1">
                <div class="col">
                    <a href="https://www.yelo.az/site/assets/files/2102/story-kredit.png" data-fancybox="gallery"
                        data-caption="Xərclərini təxirə salma, hər zaman dəstək üçün Yelo Bank var">
                        <div class="row">
                            <div class="col-7 story_content1">
                                <h5 class="story_heading1">Kredit</h5>
                                <p>Xərclərini təxirə salma, hər zaman dəstək üçün Yelo Bank var</p>
                            </div>
                            <div class="col-5 ">
                                <img style="width: 100px;height:100%"
                                    src="https://www.yelo.az/site/assets/files/2102/story-kredit.png" alt="">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3 story_background_2">
            <div class="row p-1">
                <div class="col">
                    <a href="	https://www.yelo.az/site/assets/files/2145/stories-6.png" data-fancybox="gallery"
                        data-caption="600-dən çox partnyoru özündə birləşdirən Cashback proqramı">
                        <div class="row">
                            <div class="col-7  story_content2">
                                <h5 class="story_heading1">Cashback</h5>
                                <p>600-dən çox partnyoru özündə birləşdirən Cashback proqramı</p>
                            </div>
                            <div class="col-5 ">
                                <img style="width: 100px;height:100%"
                                    src="	https://www.yelo.az/site/assets/files/2145/stories-6.png" alt=""></div>
                        </div>
                    </a></div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3 story_background_3">
            <div class="row p-1">
                <div class="col">
                    <a href="	https://www.yelo.az/site/assets/files/2103/stories-5-pic.png " data-fancybox="gallery"
                        data-caption="Yelo Kart hər əməliyyatda rahatlıq anlayışını dəyişəcək">
                        <div class="row">
                            <div class="col-7 story_content3">
                                <h5 class="story_heading2">Yelo Kart </h5>
                                <p>Yelo Kart hər əməliyyatda rahatlıq anlayışını dəyişəcək</p>
                            </div>
                            <div class="col-5 ">
                                <img style="width: 100px;height:100%"
                                    src="	https://www.yelo.az/site/assets/files/2103/stories-5-pic.png " alt=""></div>
                        </div>
                    </a></div>
            </div>
        </div>
    </div>
    <div class="row loan_calculator">
        <div class="col-6 col_1_5">
            <div class="col_content card_block d-flex">
                <div class="c_b_desc">
                    <b class="cb_b">Yelo Light</b>
                    <b class="cb_p">İstənilən ödənişlər üçün doğru seçim</b>
                    <div class="cb_is">
                        <div class="cb_item">
                            <p>Qalığa gəlir</p>
                            <b>5%</b>
                        </div>
                        <div class="cb_item">
                            <p>Cashback</p>
                            <b>30%-dək</b>
                        </div>
                    </div>
                    <a href="/cards" class="yelo_bttn">Sifariş et</a>
                </div>
                <div class="card_3d "
                    style="background-image: url('https://www.yelo.az/site/assets/files/1928/55.png')">
                </div>
            </div>
        </div>
        <div class="col col_1_5">
            <input type="hidden" name="pay_month_credit" value="" />
            <input type="hidden" name="pay_month_percent" value="" />
            <div class="col_content loan_calculator">
                <div class="cc_title">
                    <b>Kredit kalkulyatoru</b>
                    <a href="/creditpurchase" class="arr_bttn">Daha ətraflı</a>
                </div>
                <div class="loan_calc">
                    <div class="lc_inputs">
                        <input type="hidden" name="calc_type" value="1017" />
                        <div class="lc_salary lc_item">
                            <p>Aylıq əmək haqqı</p>
                            <input name="salary" type="number" value="7500" class="range_result" />
                            <div class="lc_c">AZN</div>
                            <input type="range" min="350" max="15000" step="100" value="7500"
                                style="--min: 350; --max: 15000; --val:7500;" class="range">
                        </div>
                        <div class="lc_amount lc_item">
                            <p>Məbləğ</p>
                            <input id="my_credit" name="credit" type="number" value="15000" class="range_result" />
                            <div class="lc_c">AZN</div>
                            <input type="range" min="300" max="30000" step="100" value="15000"
                                style="--min: 300; --max: 30000; --val:15000;" class="range">
                        </div>
                        <div class="lc_term lc_item">
                            <p>Müddət</p>
                            <input name="month" id="my_month" data-max="48" type="number" value="12"
                                class="range_result" />
                            <div class="lc_c">ay</div>
                            <input type="range" min="6" max="48" step="1" value="12"
                                style="--min: 6; --max: 48; --val:12;" class="range">
                        </div>
                    </div>
                    <div class="lc_result">
                        <div class="lc_r_self" style="justify-content:center;">
                            <div class="lc_r_item" style="text-align:right;width:33%;">
                                <p>Aylıq ödəniş</p>
                                <b id="my_month_pay"></b>
                            </div>
                            <div class="lc_r_item" style="display:none;">
                                <p>İllik faiz dərəcəsi</p>
                                <b id="my_year_pay" style="display:none;"></b>
                                <b id="my_percent"></b>
                            </div>
                        </div>
                        <a href="/creditpurchase" class="yelo_bttn">Kredit sifarişi</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row" style="height: 40px;"></div>
    <h3><b>Sizin üçün faydalı</b></h3>
    <div class="row mt-4 application_and_exchange">
        <div class="col-8 d-flex col_2">
            <div class="col_content app_block">
                <div class="app_image">
                    <div class="app_phone"></div>
                    <div class="app_self"></div>
                </div>
                <div class="app_b_desc">
                    <b class="app_b">YeloBank App</b>
                    <p class="app_p">Yelo-dan yeni və parlaq mobil əlavə. Hesablarını izlə, köçürmə və ödənişlərini
                        sürətli et.</p>
                    <ul class="test">
                        <li>
                            <a href="https://apps.apple.com/az/app/yelo/id1515449668" class="store apple"
                                target="_blank">
                                <div>
                                    <span>Yüklə</span>
                                    <p>App Store</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=az.yelo.app&hl=ru"
                                class="store google_play" target="_blank">
                                <div>
                                    <span>Yüklə</span>
                                    <p>Google Play</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="https://appgallery.huawei.com/#/app/C104500649" class="store huawei_play"
                                target="_blank">
                                <div>
                                    <span>Yüklə</span>
                                    <p>AppGallery</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="col_content exchange_rate">
                <div class="cc_title">
                    <b>Valyuta məzənnələri</b>
                    <div class="change_rates">
                        <a href="javascript:void(0)" class="active_lang open_select">Nağd</a>
                        <div class="select_box">
                            <div class="select_content">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="calculator">
                    <div class="c_line">
                        <input type="text" placeholder="Satıram" value="" id="my_sell"
                            class="c_int input_value only_number" />
                        <select name="from" class="s_curr_from" onchange="myFunction()">
                            <option value="azn" class="from_azn" selected>AZN</option>
                            <option value="usd" class="from_usd">USD</option>
                            <option class="from_eur" value="eur">EUR</option>
                        </select>
                    </div>
                    <div class="c_line">
                        <div class="c_int input_result" id="my_buy"></div>
                        <select name="to" class="s_curr_to" onchange="myFunction()">
                            <option value="azn" class="to_azn">AZN</option>
                            <option value="usd" class="to_usd" selected>USD</option>
                            <option class="to_eur" value="eur">EUR</option>
                        </select>
                    </div>
                    <div class="c_result">
                        <div class="cr_item">
                            <p>Valyuta</p>
                            <b class="cr_item_curr table_rate" id="usd" style="display: block">USD</b>
                            <b class="cr_item_curr table_rate" id="eur" style="display: block">EUR</b>
                        </div>
                        <div class="cr_item">
                            <p>Alış</p>
                            <b class="cr_item_buy table_buy_rate" data-curr="usd" id="usd_course" data-cash="1.7000"
                                data-nocash="1.7000" style="display: block">{{USD_value}}</b>
                            <b class="cr_item_buy table_buy_rate" data-curr="eur" id="eur_course" data-cash="1.7950"
                                data-nocash="1.7950" style="display: block">{{EUR_value}}</b>
                        </div>
                    </div>
                </div>
                <p class="info_p">Region filiallarında məzənnələr fərqli ola bilər</p>
                <a href="https://www.yelo.az/az/exchange-rates/" class="all_exchanges">Bütün məzənnələr</a>
            </div>
        </div>
    </div>
</div>
<div class="row"></div>
<h3 class="ms-5"><b>Son xəbərlər</b></h3>
<div class="container">
    <div class="row mt-5 d-flex flex-row ">
        <div class="col-4 ">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src={{image1}} alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{heading}}</h5>

                    <a href="/women_sharing_circle" class="arr_bttn">Daha ətraflı</a>
                    <h6 class="mt-2">{{date1}}</h6>
                </div>
            </div>

        </div>
        <div class="col-4 ">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src={{image2}} alt="Card image cap">
                <div class="card-body ">
                    <h5 class="card-title">{{heading2}}</h5>

                    <a href="/insan_huquqlari" class="arr_bttn">Daha ətraflı</a>
                    <h6 class="mt-2">{{date2}}</h6>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src={{image3}} alt="Card image cap">
                <div class="card-body ">
                    <h5 class="card-title">{{heading3}}</h5>
                    <a href="/usaqlar_gunu" class="arr_bttn">Daha ətraflı</a>
                    <h6 class="mt-2">{{date3}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-5"></div>
    <div class="col-2"><a href="all_news" class="arr_bttn">Bütün
                xəbərlər</a></div>
    <div class="col-5"></div>
</div>
</div>
{%endblock%}
{%block script%}
{{super()}}
<script>
    function myFunction() {
        my_sell = parseFloat($('#my_sell').val())
        course_usd = parseFloat($('#usd_course').text())
        course_eur = parseFloat($('#eur_course').text())
        selected_to = $(".s_curr_to option:selected")
        selected_from = $(".s_curr_from option:selected")
        if (selected_from.text() == 'AZN' && selected_to.text() == 'USD') {
            $('#my_buy').text((my_sell / course_usd).toFixed(2));
        } else if (selected_from.text() == 'AZN' && selected_to.text() == 'EUR') {
            $('#my_buy').text((my_sell / course_eur).toFixed(2));
        } else if (selected_from.text() == 'USD' && selected_to.text() == 'EUR') {
            $('#my_buy').text((my_sell * course_usd / course_eur).toFixed(2));
        } else if (selected_from.text() == 'EUR' && selected_to.text() == 'USD') {
            $('#my_buy').text((my_sell * course_eur / course_usd).toFixed(2));
        } else if (selected_from.text() == 'EUR' && selected_to.text() == 'AZN') {
            $('#my_buy').text((my_sell * course_eur).toFixed(2));
        } else if (selected_from.text() == 'USD' && selected_to.text() == 'AZN') {
            $('#my_buy').text((my_sell * course_usd).toFixed(2));
        }
    }
</script>
<script src="{{url_for('static',filename='js/index.js')}}"></script>
{%endblock%}